.container{
    display:flex;
    .nav-left{
        height: 100vh;
        overflow: auto;
        width:15%;
        min-width:180px;
        //background: #001529;
        ul{
            //background: #001529;
            //color:#fff;
            li>ul{
                //background: #001529;
                li>a{
                    //color:#fff;
                }
            }
            li>a{
                //color:#fff;
            }

        }
    }
    

    .main{
        flex:1;
        height: calc(100vh);
        overflow: auto;
        background: #eee;
    }
    .content{
        position: relative;
    }
}